{{ define "main" }}
    <div class="stage-reports">
        <div class="stage-reports-container">
        
            <h1 class="stage-reports-title">Stage reports</h1>
            <div class="stage-reports-items">
                <p class="stage-report-card-date">Richting het einde van de stage komen hier mijn stagebestanden te staan.</p>
                {{ range.Pages }}
                <a class="stage-report-card" href="{{ .RelPermalink }}">
                    <h3 class="stage-report-card-title"> {{ .Title }} </h3>
                    <p class="stage-report-card-date">{{ .Date.Format "2 Jan 2006" }}</p>
                </a>
                {{ end }}

            </div>
        </div>
    </div>
{{ end }}