<header class="header">
    <div class="header-container">
        <a href="/" class="header-logo">
            Ruben H.
        </a>
        <nav class="header-nav">
            <div class="header-nav-toggler">
                <p id="header-nav-open" onclick="togglenav()" class="header-nav-item ">Menu</p>         
                <p id="header-nav-close" onclick="togglenav()" class="header-nav-item d-none">Close</p>         
            </div>
            <div id="header-mobile-nav" class="header-nav-menu">
                <a href="/" class="header-nav-item">Home</a>
                <a href="/stage" class="header-nav-item">Stage</a>
                <!--<a href="/guides" class="header-nav-item">Guides</a>-->
                <a href="/projecten" class="header-nav-item">Projecten</a>
            </div>
        </nav>
    </div>
</header>