<section class="about">
    <div class="about-container">
        <h2 class="about-title">Portfolio</h2>
        <p class="about-paragraph">
            Hey! Welkom op mijn portfolio. 
            Op dit portfolio zal u meer te weten komen over wie ik ben, 
            mijn stage en de projecten die ik door de jaren gemaakt heb.
            
            Op de "over mij" pagina, ga ik dieper in op wie ik ben, een beschrijving van mijn skills, 
        </p>
        <div class="about-links">
            <p><a class="about-link" href="https://www.linkedin.com/in/rubenheurckmans/" target="_blank">LinkedIn</a></p>            
            <p><a class="about-link" download="CvRubenHeurckmans" href="/files/CvRubenHeurckmans.pdf">Curriculum Vitae</a></p> 
        </div>
    </div>
</section>