<section class="about">
    <div class="about-container">
        <h2 class="about-title">Portfolio</h2>
        <p class="about-paragraph">
            Hey! Welkom op mijn portfolio. 
            Op dit portfolio zal u meer te weten komen over wie ik ben, 
            mijn stage en de projecten die ik door de jaren gemaakt heb.
            
            Op de "Over mij" pagina, ga ik dieper in op wie ik ben, een beschrijving van mijn skills, werkervaring, opleidingen en wat mijn toekomstplannen zijn.

            Bij "Stage" zal je meer info krijgen over de stage die ik dit jaar gedaan heb en bij "Projecten" ziet u enkele projecten van mij.
        </p>
        <div class="about-links">
            <p><a class="about-link" href="https://www.linkedin.com/in/rubenheurckmans/" target="_blank">LinkedIn</a></p>            
            <p><a class="about-link" download="RubenHeurckmansCv" href="/files/RubenHeurckmansCv.pdf">Curriculum Vitae</a></p> 
        </div>
    </div>
</section>