<section class="about">
    <div class="about-container">
        <h2 class="about-title">Over mezelf</h2>
        <p class="about-paragraph">
            Hey! Welkom op mijn portfolio. 
            Ik ben Ruben, 
            een 22-jarige student toegepaste informatica met afstudeerrichting application development.
            Hier op mijn portfolio vind je enkele projecten en mijn wekelijkse stageverslagen.
        </p>
        <div class="about-links">
            <p><a class="about-link" href="https://www.linkedin.com/in/rubenheurckmans/" target="_blank">LinkedIn</a></p>            
            <p><a class="about-link" download="CvRubenHeurckmans" href="/files/CvRubenHeurckmans.pdf">Curriculum Vitae</a></p> 
        </div>
    </div>
</section>