<section class="events">
        <div class="event-container">
            <h2 class="events-title">Events</h3>
            <div class="event"></div>
                <div class="event-slider">
                    <img class="event-image" src="https://picsum.photos/1920/1080" alt="">
                </div>
                <h3 class="event-title">Dead by daylight toernooi</h3>
                <p class="event-paragraph">
                        Na het eerste succesvolle en positief ontvangen DBD toernooi op 03/09/2023 ben ik bereid om dit vaker te doen voor de Nederlandstalige DBD community.
                        Aangezien het eerste toernooi teams van 4/5 nodig had,
                        ben ik nu van plan om solo mensen ook een kans te geven door het volgende toernooi een 1v1 of een free for all toernooi te maken.
                        De datum hiervan is nog niet bekend.
                </p>
        </div>
    </div>



</section>